*{
    margin: 0;
    padding: 0;
    font-family: DMSans-Regular;
}
@font-face {
    font-family: DMSans-Regular;
    src: url(./Font/DMSans-Regular.ttf);
}
.logoMotiv{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.listHover:hover{
    background-color: #F3F5F8;
    border-radius: 6px;
}
